{% extends "base.html" %}
{% load static %}

{% block extra_css %}

    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">

{% endblock %}

{% block page_header %}

{% endblock %}

{% block content %}
<div class="message-container message-container-image d-flex justify-content-center message-container-index align-items-center">
    {% if messages %}
      {% include 'includes/messages.html' with messages=messages %}
    {% endif %}
</div>
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4 text-align-center">Thank you!!</h2>
            <hr>
            <p class="text-black text-align-center">Your order information is below and an confirmation email has been sent to <strong>{{order.email}}</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-7 mx-auto">
            <div class="order-confirmation-wrapper p-2">
                <div class="row">
                    <div class="col">
                        <small class="text-muted">Order Summary!:</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-8">
                        <p class="mb-0 text-black font-weight-bold">Order Number:</p>
                    </div>
                    <div class="col-12 col-md-4 text-md-text">
                        <p class="mb-0 text-black font-weight-bold">{{order.order_number}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-8">
                        <p class="mb-0 text-black font-weight-bold">Order Date:</p>
                    </div>
                    <div class="col-12 col-md-4 text-md-text">
                        <p>{{order.date}}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <small class="text-muted">Order Details!:</small>
                    </div>
                </div>
                {% for item in invoice.lineitems.all %}
                <div class="row">
                    <div class="col-12 col-md-8">
                        <p class="small mb-0 text-black font-weight-bold">
                            <p class="mb-0 text-black font-weight-bold">{{item.product.name}}:</p>
                        </p>
                    </div>
                    <div class="col-12 col-md-4 text-md-text">
                        <p class="small mb-0 text-black font-weight-bold"> {{ item.quantity }}  @  £{{ item.product.price }} each. </p>
                    </div>
                </div>
                {% endfor %}

                <div class="row">
                    <div class="col">
                        <small class="text-muted">Delivery Address!:</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-8">
                        <p class="mb-0 text-black font-weight-bold">Full Name:</p>
                    </div>
                    <div class="col-12 col-md-4 text-md-text">
                        <p> {{ order.full_name }} </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-8">
                        <p class="mb-0 text-black font-weight-bold">Address Line 1:</p>
                    </div>
                    <div class="col-12 col-md-4 text-md-text">
                        <p> {{ order.street_address1 }} </p>
                    </div>
                </div>
                
                {% if invoice.street_address2 %}
                <div class="row">
                    <div class="col-12 col-md-8">
                        <p class="mb-0 text-black font-weight-bold">Address Line 2:</p>
                    </div>
                    <div class="col-12 col-md-4 text-md-text">
                        <p> {{ order.street_address2 }} </p>
                    </div>
                </div>
                {% endif %}

                {% if invoice.county %}
                <div class="row">
                    <div class="col-12 col-md-8">
                        <p class="mb-0 text-black font-weight-bold">County:</p>
                    </div>
                    <div class="col-12 col-md-4 text-md-text">
                        <p> {{ order.county }} </p>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-12 col-md-8">
                        <p class="mb-0 text-black font-weight-bold">Town / City:</p>
                    </div>
                    <div class="col-12 col-md-4 text-md-text">
                        <p> {{ order.town_or_city }} </p>
                    </div>
                </div>
                <div class="row">                      
                    <div class="col-12 col-md-8">
                        <p class="mb-0 text-black font-weight-bold">Post Code:</p>
                    </div>
                    <div class="col-12 col-md-4 text-md-text">
                        <p> {{ order.postcode }} </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-8">
                        <p class="mb-0 text-black font-weight-bold">Phone Number:</p>
                    </div>
                    <div class="col-12 col-md-4 text-md-text">
                        <p> {{ order.phone_number }} </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <small class="text-muted">Invoiced Details:</small>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-8">
                    <p class="mb-0 text-black font-weight-bold">Order Total:</p>
                </div>
                <div class="col-12 col-md-4 text-md-text">
                    <p> {{ order.order_total }} </p>                    
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-8">
                    <p class="mb-0 text-black font-weight-bold">Delivery Charges:</p>
                </div>
                <div class="col-12 col-md-4 text-md-text">
                    <p> {{ order.delivery_cost }} </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-8">
                    <p class="mb-0 text-black font-weight-bold">Grand Total:</p>
                </div>
                <div class="col-12 col-md-4 text-md-text">
                    <p> {{ order.grand_total }} </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-7 text-right">
            {% if from_profile %}
                <a rel="tag" aria-labelledby="back2Profile" href="{% url 'profile' %}" class="btn btn-black rounded-0 my-2">
                    <span class="icon mr-2">
                        <i class="fas fa-angle-left"></i>
                    </span>
                    <span id="#back2Profile" class="text-uppercase">Back to your profile</span>
                </a>
           {% else %}
                <a rel="tag" aria-labelledby="newOrder" href="{% url 'products' %}" class="btn btn-black rounded-0 my-2">
                    <span class="icon mr-2">
                        <i class="fas fa-gifts"></i>
                    </span>
                    <span id="#newOrder" class="text-uppercase">New Order!</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
