html {
    min-height: 100%;
}

body {
    /* background: url('/media/homepage_background_cropped.jpg') no-repeat center center fixed;
    background-size: cover; */
    min-height: 100vh;
    color: #555;
    font-family: 'Lato';
}

header {
    padding: 0 0 1rem 0;
}

.message-container-image {
    background-image: url('/media/orderpage-banner.jpg');
    /* The image used */
    background-color: #ccc;
    /* Used if the image is unavailable */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    padding: 1rem 2rem;
}

.message-container-index {
    min-height: 150px;
}

.flex-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.bg-orange {
    background: #F55D14;
}

.logo-font {
    text-transform: uppercase;
    font-family: 'Covered By Your Grace', cursive;
}

.main-logo-link {
    width: fit-content;
}

.text-align-center {
    text-align: center;
}

.order-now-button {
    background: #F55D14;
    color: #441813;
    min-width: 260px;
    font-family: 'Covered By Your Grace', cursive;
}

.btn-black {
    background: black;
    color: white;
}

.order-now-button:hover,
.order-now-button:active,
.order-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.nav-icon:active,
.nav-icon:hover,
.nav-icon:focus {
    background: #222;

}

.logged-out-nav {
    color: grey
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}


.margin-top {
    margin: 1rem 0 0 0;
}

button {
    background: #F55D14;
    ;
}

/* products template css */

.product-image {
    /* display: flex; */
    flex-direction: column;
}

.flex {
    display: flex;
}

.drop-down-padding {
    padding-bottom: 1rem:
}

.message-in-header {
    position: absolute;
    top: 146px;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    border: orange 1px solid;
    background-color: #ffa5002b;
    padding: 1rem;
    border-radius: 10px;
}

.dropdownbox-style {
    position: relative !important;
    transform: translate3d(0);
}

.text-center {
    text-align: center;
}

.width100 {
    width: 100%;
}

.message-container-index {
    min-height: 150px;
}

.update-link,
.remove-item {
    cursor: pointer;
}

.background-grey {
    background-color: grey;
}


/* Allauth css */

.account-pg-image {
    width: inherit;
}

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color:
}

.home-button {
    border: 3px #F55D14 solid;
}

.home-button:hover {
    border: 3px black solid;
    background: #F55D14;
    color: white;

}

.signIn-button {
    border: 3px black solid;
    padding: 5px;
}

.signIn-button:hover {
    border: 3px #F55D14 solid;
    background: white;
    color: black;

}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }

    /* Allauth form formatting */

    .allauth-form-inner-content p {
        margin-top: 1.5rem;
        /* mt-4 */
        color: #6c757d;
        /* text-secondary */
    }

    .allauth-form-inner-content input {
        border-color: #000;
        border-radius: 0;
    }

    .allauth-form-inner-content label:not([for='id_remember']) {
        display: none;
    }

    .allauth-form-inner-content input::placeholder {
        color: #aab7c4;
    }

    .allauth-form-inner-content button,
    .allauth-form-inner-content input[type='submit'] {
        /* btn */
        display: inline-block;
        font-weight: 400;
        color: #fff;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: #000;
        border: 1px solid #000;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0;

        /* standard bootstrap btn transitions */
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
    }

    .header-container {
        padding-top: 116x;
    }
}