html {
    height: 100%;
}

body {
    /* background: url('/media/homepage_background_cropped.jpg') no-repeat center center fixed;
    background-size: cover; */
    height: 100vh color: #555;
    font-family: 'Lato';
}

header {
    padding: 0 0 1rem 0;
}

.header-container {
    padding-top: 164px;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.text-align-center {
    text-align: center;
}

.logo-font {
    text-transform: uppercase;
    font-family: 'Covered By Your Grace', cursive;
}

.main-logo-link {
    width: fit-content;
}

.flex-index {
    display: flex;
    flex-direction: column;
}

.order-now-button {
    background: #F55D14;
    color: #441813;
    min-width: 260px;
    font-family: 'Covered By Your Grace', cursive;
}

.btn-black {
    background: black;
    color: white;
}

.order-now-button:hover,
.order-now-button:active,
.order-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* Carousel */

.carousel-item,
img {
    max-width: 100%;
    z-index: -1;
}

.bg-orange {
    background: #F55D14;
}

.margin-top {
    margin: 1rem 0 0 0;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -5;
}

/* products template css */

/* .products-display {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 1.3rem;
    padding: 2rem 0;
    text-align: center;
    background-color: white;
    list-style: none;
} */

.product-image {
    /* display: flex; */
    flex-direction: column;
}

.flex {
    display: flex;
}

.prdt-bt {
    width: 100%;
    text-align: left;
}

.drop-down-padding {
    padding-bottom: 1rem:
}

.message-in-header {
    position: absolute;
    top: 146px;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    border: orange 1px solid;
    background-color: #ffa5002b;
    padding: 1rem;
    border-radius: 10px;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
    }

    .header-container {
        padding-top: 116x;
    }
}