html {
    min-height: 100%;
}

body {
    /* background: url('/media/homepage_background_cropped.jpg') no-repeat center center fixed;
    background-size: cover; */
    min-height: 100vh;
    color: #555;
    font-family: 'Lato';
}

header {
    padding: 0 0 1rem 0;
}

.header-container {
    padding-top: 164px;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.text-align-center {
    text-align: center;
}

.logo-font {
    text-transform: uppercase;
    font-family: 'Covered By Your Grace', cursive;
}

.main-logo-link {
    width: fit-content;
}

.flex-index {
    display: flex;
    flex-direction: column;
}

.order-now-button {
    background: #F55D14;
    color: #441813;
    min-width: 260px;
    font-family: 'Covered By Your Grace', cursive;
}

.btn-black {
    background: black;
    color: white;
}

.order-now-button:hover,
.order-now-button:active,
.order-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.nav-icon:active,
.nav-icon:hover,
.nav-icon:focus {
    background: #222;

}

.logged-out-nav {
    color: grey
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* Carousel */

.carousel-item,
img {
    max-width: 100%;
    z-index: -1;
}

.order-img {
    width: 50%;
}

.bg-orange {
    background: #F55D14;
}

.margin-top {
    margin: 1rem 0 0 0;
}


/* products template css */

.product-image {
    /* display: flex; */
    flex-direction: column;
}

.flex {
    display: flex;
}

.prdt-bt {
    width: 100%;
    text-align: left;
}

.drop-down-padding {
    padding-bottom: 1rem:
}

.message-in-header {
    position: absolute;
    top: 146px;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    border: orange 1px solid;
    background-color: #ffa5002b;
    padding: 1rem;
    border-radius: 10px;
}

.accordion>.card>.card-header {
    background-color: darkgrey;
}

.dropdownbox-style {
    position: relative !important;
    transform: translate3d(0);
}

.delivery-banner {
    background: #F55D14;
    color: white;
}

.bag-img-height {
    height: 5rem;
}

.text-center {
    text-align: center;
}

.message-container {
    margin: 12rem 2rem 1rem;
}

.message-container-add-product {
    margin: 1rem 2rem 1rem;
}

.message-container-index {
    min-height: 150px;
}

.message-container-order {
    min-height: 300px;
}

.message-container-image {
    background-image: url('/media/orderpage-banner.jpg');
    /* The image used */
    background-color: #3a1dde;
    /* Used if the image is unavailable */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    padding: 1rem 2rem;
}

.toast {
    padding: 0.5rem;
}

.update-link,
.remove-item {
    cursor: pointer;
}

.background-grey {
    background-color: grey;
}


.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
    }

    .header-container {
        padding-top: 116x;
    }
}