<div class='collapse nav-100 navbar-collapse' id='main-nav'>
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block">
            <a class="nav-link" href="{% url 'home' %}" id="home-link">Home</a>
        </li>
        <li>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                World food
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href=" {% url 'products' %}?category=greek ">Greek</a>
                <a class="dropdown-item" href=" {% url 'products' %}?category=curry">Curry</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href=" {% url 'products' %}?category=curry,greek">World cuisine!</a>

            </div>
        </li>
        <li>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Food you know and love!
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'products' %}?category=Pizza ">Pizza</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=burgers ">Burgers</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=fries ">Fries</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=extras ">Sides</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'products' %}?category=extras,Pizza,burgers,fries ">All the extras!</a>
            </div>
        </li>
        <li>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sommit to wash it down with
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'products' %}?category=shakes">Milk shake</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=pop">Fizzy</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=hot">Hot!</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'products' %}?category=hot,pop,shakes">Sommit wet!</a>
            </div>
        </li>
        <li>
            <div class="nav-item ">
                <a class="nav-link" href="{% url 'products' %} " role="button" aria-haspopup="true" aria-expanded="false">
                Order Now!
                </a>
            </div>
        </li>
    </ul>
</div>