<div class='collapse navbar-collapse' id='main-nav'>
    <ul class="navbar-nav w-auto mx-auto">
        <li>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                World food
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">New Cuisine</a>
                <a class="dropdown-item" href="#">Old favourites</a>
            </div>
        </li>
        <li>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Usual crew
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Pizza</a>
                <a class="dropdown-item" href="#">Burgers</a>
                <a class="dropdown-item" href="#">Fries</a>
                <a class="dropdown-item" href="#">Sides</a>
            </div>
        </li>
        <li>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sommit to wash it down with
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Milk shake</a>
                <a class="dropdown-item" href="#">Fizzy</a>
                <a class="dropdown-item" href="#">Hot!</a>
            </div>
        </li>
        <li>
            <div class="nav-item ">
                <a class="nav-link" href="{% url 'products' %} " role="button" aria-haspopup="true" aria-expanded="false">
                Order Now!
                </a>
            </div>
        </li>
    </ul>
</div>