{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
<div class="container">
  {% block head_title %}{% trans "Sign In" %}{% endblock %}

  {% block inner_content %}
  <div class="account-flex">
    <div class="account-title">
      <h1 class="text-center">{% trans "Sign In" %}</h1>
    </div>

    {% if socialaccount_providers %}
    <p>{% blocktrans with site.name as site_name %}Please sign in with one
      of your existing third party accounts. Or, <a aria-label="link to the sign up page" rel="tag" href="{{ signup_url }}">sign up</a>
      for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

    <div class="socialaccount_ballot">

      <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </ul>

      <div class="login-or">{% trans 'or' %}</div>

    </div>

    {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}
    <p>{% blocktrans %}If you have not created an account yet, then please
      <a rel="tag" href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
    {% endif %}
    <div class="container">
      <div class="row account-content">
        <div class=~"col-6">
          <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form|crispy}}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <p>
              <a aria-label="link for the forgotten password link" rel="tag" class="button secondaryAction"
                href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </p>
            <button class="acount-button rounded-0" type="submit">{% trans "Sign In" %}</button>
            <a aria-label="link to confirm you want to sign in and return to the home page" rel="tag" class="btn home-button rounded-0" href="{% url 'home' %}">Home</a>
          </form>
        </div>
        <div class="col-6">
          <img class="account-pg-image" src="{{MEDIA_URL}}/login-image.jpg">
        </div>
      </div>
    </div>
    {% endblock %}
  </div>
</div>