{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}
<div class="account-flex">
<div class="account-title">
  <h1>{% trans "Sign Out" %}</h1>
</div>

<div class="account-flex">
    <div class="account-content">
      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <p>{% trans 'Are you sure you want to sign out?' %}</p>
        <a aria-label="link to logout of the account" rel="tag" class="acount-button" href="{% url 'account_logout' %}">{% trans 'Sign Out' %}</a>
      </div>
      </form>
    </div>
    <div class="col-6">
      <img class="account-pg-image" src="{{MEDIA_URL}}/login-image.jpg">
    </div>
  </div>
  <div class="account-flex">
</div>

{% endblock %}
