{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}

<div class="account-title">
  <h1>{% trans "Sign Out" %}</h1>
</div>

<div class="account-flex-logout">
  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button type="submit">{% trans 'Sign Out' %}</button>
  </form>
  <div class="col-6">
    <img class="account-pg-image" src="{{MEDIA_URL}}/login-image.jpg">
  </div>
</div>
<div class="account-flex">
  <p>{% trans 'Are you sure you want to sign out?' %}</p>
</div>

{% endblock %}
