<a rel="tag" aria-label="linbk to take you back to the products page so you can keep browsing" href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
    <span class="icon">
        <i class="fas fa-chevron-left"></i>
    </span>
    <span class="text-uppercase">Keep Shopping</span>
</a>
<a rel="tag" aria-label="link to take you to the check out so you can proceed with your purchase" href=" {% url 'checkout' %} " class="btn btn-black rounded-0 btn-lg">
    <span class="text-uppercase">Secure Checkout</span>
    <span class="icon">
        <i class="fas fa-lock"></i>
    </span>
</a>