<form method="Post" class="form update-form" action=" {% url 'adjust_order' item.item_id %}">
    {% csrf_token%}
    <div>
        <div class="input-group">
            <div class="input-group-prepend">
                <button name="Decrease quantity" class="decrement-qty btn btn-black rounded-0" 
                    data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                    <span class="icon">
                        <i class="fas fa-minus"></i>
                    </span>
                </button>
            </div>
            <input class="form-control qty_input" type="number"
                name="quantity" value="{{item.quantity}}" min="1" max="99"
                data-item_id="{{ item.item_id }}"
                id="id_qty_{{ item.item_id }}">
            <div class="input-group-append">
                <button name="Increment quantity" class="increment-qty btn btn-black rounded-0"
                    data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                    <span class="icon">
                        <i class="fas fa-plus"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
</form>
<a aria-label="link to confirm the update of the item qty" rel="tag" class="update-link text-info"><small>UPDATE</small></a>
<a aria-label="link to remove the item from the shopping bag altogether" rel="tag" class="remove-item text-danger float-right" id="remove_{{item.item_id}}"><small>remove</small></a>