{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% if messages %}
    {% include 'includes/messages.html' with messages=messages %}
{% endif %}
<div>
    <p> Please let us know how you feel we could have done better.</p>
    <form action="/feedback/" method="post">
        {% csrf_token %}
        <div>
            <div>
                {% if user_is_authenticated %}
                {{ feedback_form.user | as_crispy_field }}
                {% else %}
                {{ feedback_form.guest | as_crispy_field }}
                {% endif %}
            </div>
            <div>
                {{ feedback_form.email | as_crispy_field }}
            </div>
            <div>
                {{ feedback_form.phone_number | as_crispy_field }}
            </div>
            <div>
                {{ feedback_form.issue | as_crispy_field }}
            </div>
            <div>
                {{ feedback_form.comment | as_crispy_field }}
            </div>
            <div class="text-right">
                <button class="btn btn-black rounded-0" type="submit">Leave feedback</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}